* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    padding-bottom: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

.flex {
    justify-content: center;
    display: flex;

}

.how-to-play {
    
    width: 50%;

    background: #f8f0d7;
    border-left: 5px dotted rgba(0, 0, 0, .1);
    box-shadow: 0 0 0 5 #f8f0d7;
    padding: 1em 10em;
    margin: 1em 5px;
    margin-left: 1%;
}

.download {
  
    width: 50%;

    background: #f8f0d7;
    border-left: 5px dotted rgba(0, 0, 0, .1);
    box-shadow: 0 0 0 5 #f8f0d7;
    padding: 1em 10em;
    margin: 1em 5px;
    margin-left:1%;
}
@media screen and (max-width: 1000px) {
    .how-to-play 
    {
        padding: 1em;
        margin: 1em 0.5px;
        margin-left: 1%;
    }

    .download 
    {   padding: 1em;
        margin: 1em 5px;
        margin-left: 1%;
    }
}